<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UniPlanet.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>E9D1F91EEFE4D5979DD0E9C6A0CCDF3A2C95B616</string>
				<key>dateExpires</key>
				<string>4/24/25</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E9D1F91EEFE4D5979DD0E9C6A0CCDF3A2C95B616</string>
						<key>dateExpires</key>
						<string>4/24/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>33SYJ25VQW</string>
						<key>name</key>
						<string>Uniplanet LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E9D1F91EEFE4D5979DD0E9C6A0CCDF3A2C95B616</string>
						<key>dateExpires</key>
						<string>4/24/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>DKImagePickerController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>33SYJ25VQW</string>
						<key>name</key>
						<string>Uniplanet LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>4.3.8</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E9D1F91EEFE4D5979DD0E9C6A0CCDF3A2C95B616</string>
						<key>dateExpires</key>
						<string>4/24/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>DKPhotoGallery.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>33SYJ25VQW</string>
						<key>name</key>
						<string>Uniplanet LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.17</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E9D1F91EEFE4D5979DD0E9C6A0CCDF3A2C95B616</string>
						<key>dateExpires</key>
						<string>4/24/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>33SYJ25VQW</string>
						<key>name</key>
						<string>Uniplanet LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>2.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E9D1F91EEFE4D5979DD0E9C6A0CCDF3A2C95B616</string>
						<key>dateExpires</key>
						<string>4/24/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>33SYJ25VQW</string>
						<key>name</key>
						<string>Uniplanet LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>10.24.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E9D1F91EEFE4D5979DD0E9C6A0CCDF3A2C95B616</string>
						<key>dateExpires</key>
						<string>4/24/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreInternal.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>33SYJ25VQW</string>
						<key>name</key>
						<string>Uniplanet LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>10.24.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E9D1F91EEFE4D5979DD0E9C6A0CCDF3A2C95B616</string>
						<key>dateExpires</key>
						<string>4/24/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>33SYJ25VQW</string>
						<key>name</key>
						<string>Uniplanet LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>10.24.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E9D1F91EEFE4D5979DD0E9C6A0CCDF3A2C95B616</string>
						<key>dateExpires</key>
						<string>4/24/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseMessaging.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>33SYJ25VQW</string>
						<key>name</key>
						<string>Uniplanet LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>10.24.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E9D1F91EEFE4D5979DD0E9C6A0CCDF3A2C95B616</string>
						<key>dateExpires</key>
						<string>4/24/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>33SYJ25VQW</string>
						<key>name</key>
						<string>Uniplanet LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E9D1F91EEFE4D5979DD0E9C6A0CCDF3A2C95B616</string>
						<key>dateExpires</key>
						<string>4/24/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>33SYJ25VQW</string>
						<key>name</key>
						<string>Uniplanet LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>9.4.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E9D1F91EEFE4D5979DD0E9C6A0CCDF3A2C95B616</string>
						<key>dateExpires</key>
						<string>4/24/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>33SYJ25VQW</string>
						<key>name</key>
						<string>Uniplanet LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>7.13.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E9D1F91EEFE4D5979DD0E9C6A0CCDF3A2C95B616</string>
						<key>dateExpires</key>
						<string>4/24/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>33SYJ25VQW</string>
						<key>name</key>
						<string>Uniplanet LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>5.19.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E9D1F91EEFE4D5979DD0E9C6A0CCDF3A2C95B616</string>
						<key>dateExpires</key>
						<string>4/24/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftyGif.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>33SYJ25VQW</string>
						<key>name</key>
						<string>Uniplanet LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>5.4.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E9D1F91EEFE4D5979DD0E9C6A0CCDF3A2C95B616</string>
						<key>dateExpires</key>
						<string>4/24/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>file_picker.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>33SYJ25VQW</string>
						<key>name</key>
						<string>Uniplanet LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E9D1F91EEFE4D5979DD0E9C6A0CCDF3A2C95B616</string>
						<key>dateExpires</key>
						<string>4/24/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_native_splash.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>33SYJ25VQW</string>
						<key>name</key>
						<string>Uniplanet LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E9D1F91EEFE4D5979DD0E9C6A0CCDF3A2C95B616</string>
						<key>dateExpires</key>
						<string>4/24/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>image_picker_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>33SYJ25VQW</string>
						<key>name</key>
						<string>Uniplanet LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E9D1F91EEFE4D5979DD0E9C6A0CCDF3A2C95B616</string>
						<key>dateExpires</key>
						<string>4/24/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>33SYJ25VQW</string>
						<key>name</key>
						<string>Uniplanet LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>2.30910.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E9D1F91EEFE4D5979DD0E9C6A0CCDF3A2C95B616</string>
						<key>dateExpires</key>
						<string>4/24/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>path_provider_foundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>33SYJ25VQW</string>
						<key>name</key>
						<string>Uniplanet LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E9D1F91EEFE4D5979DD0E9C6A0CCDF3A2C95B616</string>
						<key>dateExpires</key>
						<string>4/24/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>shared_preferences_foundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>33SYJ25VQW</string>
						<key>name</key>
						<string>Uniplanet LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E9D1F91EEFE4D5979DD0E9C6A0CCDF3A2C95B616</string>
						<key>dateExpires</key>
						<string>4/24/25</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>sqflite.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>33SYJ25VQW</string>
						<key>name</key>
						<string>Uniplanet LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.3</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>33SYJ25VQW.shop.uniplanet.uniplanet</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>33SYJ25VQW</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>fbecbce4-3b7b-4bca-bf87-681427317a5a</string>
				<key>dateExpires</key>
				<string>4/24/25</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: shop.uniplanet.uniplanet</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>33SYJ25VQW</string>
				<key>name</key>
				<string>Uniplanet LLC</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.2</string>
		</dict>
	</array>
</dict>
</plist>
